<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309782174468-dugl8ie9tp0m66jvv98otllukf636sc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309782174468-dugl8ie9tp0m66jvv98otllukf636sc7</string>
	<key>API_KEY</key>
	<string>AIzaSyDznNFJpMW68BtfyUmu3iGbgZ-uIjncpUA</string>
	<key>GCM_SENDER_ID</key>
	<string>309782174468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ardeka.situations</string>
	<key>PROJECT_ID</key>
	<string>situations0</string>
	<key>STORAGE_BUCKET</key>
	<string>situations0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309782174468:ios:3a83e3487a88708d460e51</string>
</dict>
</plist>